<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    
    <div>
        <h1>Wallet</h1>
        <div id="wallet_amount">0</div>
        <button id="reload_wallet">Reload Wallet</button>

        <p>Public Key</p>
        <textarea name="" id="public_key" cols="100" rows="2"></textarea>

        <p>Private Key</p>
        <textarea name="" id="private_key" cols="100" rows="1"></textarea>

        <p>Blockchain Address</p>
        <textarea name="" id="blockchain_addres" cols="100" rows="1"></textarea>
    </div>

    <div>
        <h1>Send Money</h1>
        <div>
            Address: <input type="text" id="recipient_blockchain_address", size="100">
            <br>
            Amount: <input type="text" id="send_amount">
            <br>
            <button id="send_money_button">Send</button>
        </div>
    </div>

</body>
</html>
